<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" rel="icon" />

        <title>EventeX</title>

        <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="page">
            <header>
                <h1 id="logo">EventeX</h1>
            </header>
            <div id="content">
                <h1>Bem-vindo ao EventeX!</h1>
                <p>Você não pode perder essa oportunidade!</p>
                <p>Abertura das inscrições em 18 de Março de 2012.</p>
                <p>Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com.br"> eventex@eventex.com.br</a></p>
            </div>
            <footer>
                <p>&copy; 2012. <a rel="license" href="http://eventex-ghostbr.herokuapp.com">EventeX</a>, some rights reserved.</p>
            </footer>
        </div>
    </body>
</html>
